/***
* Main CSS for Topo Design Case Study
* Developed By: Tyler Mann
***/

/****
--Global CSS variables--
****/
html {
    --font-sans-serif: 'Source Sans Pro', sans-serif;
    --red: #E31B23;
    --dark-red: #C8171E;
    --black: #191919;
    --grey: #9E9E9E;
    --light-grey: #C8C8C8;
    --white: #FFF;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
    font-family: var(--font-sans-serif);
    line-height: 1.65;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 300;
    color: var(--black);
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**** END Global CSS variables ****/


/**** 
--COMPONENT PAGE SYSTEM Styles-- 
****/
    .page-header {
        background-color: var(--black);
        color: var(--white);
        padding: 2rem 0;
        margin: 0;
    }
    .component {
        border: 1px solid var(--red);
        margin: 0 1rem 2rem;
    }
    .component__name {
        font-size: 1.5rem;
        color: var(--white);
        background-color: var(--red);
        padding: 1rem;
        margin: 0;
    }
    .component img {
        max-width: initial;
        display: block;
    }
    .component__img {
        border: 1px solid #C8C8C8;
        overflow-x: auto;
    }
    .component__code {
        border: 1px solid #C8C8C8;
    }
/**** END Component Page System Styles ****/

/**** 
--TYPOGRAPHY-- 
****/
    /* Headers (h1, h2, h3 ,h4, h5, h6) */
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-sans-serif);
        line-height: 1.2;
        font-weight: 800;
    }
    h1 {
        text-transform: uppercase;
        font-size: 3.5rem;
    }
    h2 {
        font-size: 3rem;
        font-weight: 700;
    }
    h3 {
        text-transform: uppercase;
        font-size: 2.5rem;
    }
    h4 {
        font-size: 1.05rem;
        font-weight: 700;
    }
    h5 {
        text-transform: uppercase;
        font-size: 2rem;
    }
    h6 {
        text-transform: uppercase;
        font-size: 0.87em;
    }
/**** END Typography Styles ****/


/**** 
--LINKS-- 
****/

    /* Global Inline Links */
    a {
        color: var(--red);
        text-decoration: none;
    }
     a:hover {
        color: var(--dark-red);
        text-decoration: underline;
    }
    
    /* Breadcrumb Links */
    .bread-crumb {
        font-size: .87rem;
    }
    .bread-crumb__active {
        color: var(--black);
        padding: 0 3px;
    }
    .bread-crumb__inactive {
        color: var(--grey);
    }

    /* Footer Links */
    .footer--link__active {
        background-color: black;
        color: var(--light-grey);
        font-size: .87rem;
    }
    .footer--link__hov a:hover {
        color: var(--white);
        text-decoration: none;
    }
/**** END Link Styles ****/


/**** 
--ATOMS--
****/

    /* Buttons */

    .btn {
        background-color: var(--black);
        padding: 14px;
        color: var(--white);
        text-decoration: none;
        text-transform: uppercase;
        margin: 0;
        
    }

    .btn--black {
        border: 1px solid var(--black);
        color: var(--white);
        font-weight: 600;
        font-size: 0.8rem;
        padding: 15.7px 20px;
        margin: 0;
        min-width: 100px;
    }

    .btn--outlined {
        background-color: transparent;
        border: 1px solid var(--black);
        color: var(--black);
        padding: .8rem 4.5rem;
        font-weight: 700;
        font-size: 1.1rem;
    }

    .btn--primary {
        background-color: var(--red);
        border: 1px solid var(--red);
        color: var(--white);
        font-weight: 600;
        font-size: 0.8rem;
    }
    .btn-link {
        padding: 1rem 0;
    }
    .btn--primary__hov a:hover {
        background-color: var(--dark-red);
        color: var(--white);
        text-decoration: none; 
    }
    .btn--outlined__hov a:hover {
        background-color: var(--black);
        color: var(--white);
        text-decoration: none; 
    }
    .btn--black__hov a:hover {
        background-color: var(--black);
        color: var(--white);
        text-decoration: none; 
    }
    

/**** END Atom Styles ****/

/**** 
--Molecules--
****/

    /*** --Header Navs-- ***/
    .container {
        margin: 0 25px;
        padding: 0 15px;
    }

    /* Logo */
    .site-logo {
        margin: 0;
        padding: 0 60px 0 0;
        max-width: 115px;
    }

    .site-logo img {
        padding: 10px 0 10px;
    }

    /* Nav */
    .nav-bar {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .main-nav {
        height: 112px;
        display: grid;
        grid-template-columns: 110px 1fr;
        align-items: center;
    }

    .main-nav--list {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .main-nav--list li {
        display: inline-block;
    }

    .main-nav__item a{
        font-family: var(--font-sans-serif);
        font-weight: 700;
        font-size: 1.1em;
        text-transform: uppercase;
        text-align: left;
        display: block;
        letter-spacing: 1px;
        text-decoration: none;
        color: var(--black);
        padding: 0 5px;
    }

    .main-nav a:hover{
        color: var(--red);
    }
    .main-nav a:hover i{
        color: var(--black);
    }

    /* Right Nav */
    .right-nav {
        height: 112px;
        display: inline;
        align-items: center;
    }
    .right-nav--list {
        display: inline-flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .right-nav__item {
        display: inline;
    }
    .right-nav__item a{
        font-size: 1.25rem;
        text-align: left;
        text-decoration: none;
        color: var(--black);
        padding: 10px 15px;
    }
    .small-link a{
        font-size: .87rem;
        padding: 0;
    }
    .small-link a:hover {
        text-decoration: underline;
    }

    /**** END Header Nav Styles ****/


/**** 
--Organisms--
****/

    /* Card Blocks */

    .hero {
        width: 100%;
        height: 800px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 2rem;
        padding: 0 2rem 2rem;
        margin: 0;
    }

    .two-image-block {
        width: 100%;
        height: 800px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 2rem;
        padding: 0 2rem 2rem;
        margin: 0;
    }

    .three-image-block {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-column-gap: 2rem;
        padding: 0 2rem 2rem;
        margin: 0;
    }
    .card--text {
        max-width: 400px;
        color: white;
        padding: 3rem;
    }
    .card--sale {
        grid-column: span 2;
        background-image: url("../img/o-desktop_600x@2x.progressive.webp");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
    }

    .card--outerwear {
        background-image: url("../img/womes-apparel_600x@2x.progressive.webp");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
    }

    .card--outerwear {
        background-image: url("../img/womes-apparel_600x@2x.progressive.webp");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
    }
    .card--bag-kits {
        background-image: url("../img/travel_450x@2x.progressive.jpg");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
        align-items: center;
    }
    .card--bags {
        background-image: url("../img/packs&bags_450x@2x.progressive.jpg");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
        align-items: center;
    }
    .card--mens {
        background-image: url("../img/mens-600x@2x.progressive.jpg");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .card--womens {
        background-image: url("../img/womens-600x@2x.progressive.webp");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
        align-items: center;
    }
    .card--stocking {
        background-image: url("../img/stocking-stuffers-desktop-1_600x@2x.progressive.webp");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
    }
    .card--gift-guides {
        background-image: url("../img/under-100_450x@2x.progressive.jpg");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card--afterpay {
        background-image: url("../img/after-pay_600x@2x.progressive.webp");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card--rewards {
        background-image: url("../img/rewards_600x@2x.progressive.webp");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card--give-get {
        background-image: url("../img/give-get_600x@2x.progressive.webp");
        background-size: cover;
        background-position: top;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-tint {
        background-blend-mode: multiply;
        background-color: rgba(0,0,0,.25);
    }
    .text__right {
        text-align: right;
    }
    .text__center {
        text-align: center;
    }
    .card-header--medium {
        margin: 0;
        padding: 1.25rem 0;
    }
    .card-header--small {
        font-size: 1.5rem;
        margin: 0;
        padding: 1rem 0;
    }
    .card-header--hero {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin: 0;
        padding: 1.25rem 0;
    }
    .card-subtext {
        line-height: 1.85rem;
        margin: 0;
        padding:0;
    }


    /* Email Form */
    form {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    input {
        width: 308px;
        height: 50px;
        border-radius: 0;
        border: 1px solid var(--light-grey);
        padding: 1rem;
        font-weight: 300;
        font-family: var(--font-sans-serif);
        outline: none;
        
    }
    ::placeholder {
        color: var(--grey);
        font-weight: 300;
        font-family: var(--font-sans-serif);
    }
    :focus {
        border: 1px solid var(--black);
    }
    button {
        border: none;
        border: 1px solid var(--black);
        color: var(--white);
        font-weight: 600;
        font-size: 0.8rem;
        padding: 16px 20px;
        margin: 0;
        min-width: 100px;
        background-color: var(--black);
        text-decoration: none;
        text-transform: uppercase;
    }
    button a{
        color: var(--white);
    }



    .email-subscription {
        width: 100%;
        padding: 50px 0;
        background-color: var(--red);
        display: inline-flex;
        justify-content: space-between;
    }
    .subscription--text {
        color: var(--white);
        padding: 0 25px 0 50px;

    }
    .subscription--text__header {
        margin: 0;
    }
    .subscription--sign-up {
        padding: 0 50px 0 25px;
    }

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        width: 100%;
    }
    .footer {
        width: 1200px;
        padding: 0 3rem;
        
    }
    .footer--nav {
        display: inline-flex;
        padding: 0 2rem 2rem 0;
        justify-content: flex-start;
        background-color: black;
    }
    .footer--item {
        padding: 5px 0;
    }
    .footer--nav__header {
        color: var(--white);
        margin-bottom: 1rem;
    }
    .footer--nav__links {
        list-style-type: none;
        display: inline-block;
        padding: 0 80px 0 0; 
    }
    .footer--social {
        border-top: 1px solid var(--black);
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }
    .social--nav {
        list-style-type: none;
        display: inline-flex;
        padding-left: 0;
    }
    .social--nav__item {
        margin: 0;
        padding-right: 20px;
    }
    .social--nav__item a:hover {
        color: var(--white);
    }
    .social-link {
        color: var(--grey);
        font-size: 1.35rem;
    }
    .copyright {
        font-size: .87rem;
        color: var(--grey);
        padding: 0;
    }
    .fa-copyright {
        font-size: .7rem;;
    }
