<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Topo Designs</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/93e278cd22.js" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Web Components</h1> 

    <h2>Typography Defaults</h2>

    <article class="component">
        
        <h3 class="component__name">Body</h3>
       
        <div class="component__img">
            <img 
            srcset= "img/body-text__ex2--2x.png 2x"
            src= "img/body-text__ex2--2x.png" alt="body text">
        </div>

        <div class="component__code">
            <p>
                I love bikes. Biking gives me time to think. I race cyclocross in the fall with the <a href="#!">Topo Designs Cycling Club</a>. I'm enjoying more gravel rides lately, and live across the street from some of the best mountain biking around, right here in Fort Collins, Colorado. I'm currently listening to the brand new Waxahatchee album, but really prefer spinning vinyl with my wife & two girls in the evenings, it's so intentional. We'll play a healthy mix ranging from Michael Jackson, Harry Styles & Stan Getz to Brandi Carlile, Gregory Alan Isakov & Wilco.
            </p>
        </div>
    </article>

    <article class="component">
        
        <h3 class="component__name">Headings (h1, h2, h3, h4, h5, h6)</h3>
       
        <div class="component__img">
            <img 
            srcset= "img/h1--2x.png 2x"
            src= "img/h1--2x.png" alt="h1">
            <img 
            srcset= "img/h2--2x.png 2x"
            src= "img/h2--2x.png" alt="h2">
            <img 
            srcset= "img/h3--2x.png 2x"
            src= "img/h3--2x.png" alt="h3">
            <img 
            srcset= "img/h4--2x.png 2x"
            src= "img/h4--2x.png" alt="h4">
            <img 
            srcset= "img/h5--2x.png 2x"
            src= "img/h5--2x.png" alt="h5">
            <img 
            srcset= "img/h6--2x.png 2x"
            src= "img/h6--2x.png" alt="h6">
        </div>

        <div class="component__code">
            <h1>Sign up & Save</h1>
            <h2>Our Repairs Program</h2>
            <h3>Questions?</h3>
            <h4>Start a Warranty Claim</h4>
            <h5>Our Bags</h5>
            <h6>Shop</h6>
        </div>
    </article>
    
    <h2>Atoms</h2>

    <article class="component">
        
        <h3 class="component__name">Buttons</h3>
       
        <div class="component__img">
            <img 
            srcset= "img/button__primary--2x.png 2x"
            src= "img/button__primary--2x.png" alt="button primary">
            <img 
            srcset= "img/button__secondary--2x.png 2x"
            src= "img/button__secondary--2x.png" alt="button secondary">
            
        </div>

        <div class="component__code">
            <p>
                <a href="#!" class="btn btn--primary">Get Directions</a>
            </p>
            <p>
                <a href="#!" class="btn btn--secondary">Get Directions</a>
            </p>
        </div>
    </article>

    <h2>Header Navs</h2>

    <article class="component">
        <h3 class="component__name">Logo & Main Nav</h3>
        
        <div class="component__img">
            <img 
            srcset= "img/logo-nav-main--2x.png 2x"
            src= "img/logo-nav-main--2x.png" alt="header">
        </div>

        <div class="component__code">
                    <!-- Main Header -->
                    <div class="container">
                        <div class="nav-bar">
                            <!-- NAV -->
                            <nav class="main-nav">
                                <div class="site-logo">
                                <a href="#!"><img src="../img/topo_designs_logo_vertical-logo.svg" alt="logo"></a>
                                </div>
                                <ul class="main-nav--list">
                                    <li class="main-nav__item">
                                        <a href="#!">Gift Guides <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">New <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">Packs & Bags <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">Men's <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">Women's <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">Accessories <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">About <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- END NAV -->
                        </div>
                    </div>
                    <!-- END Main Header -->
        </div>
    </article>
    
    <article class="component">
        <h3 class="component__name">Right Nav</h3>
        
        <div class="component__img">
            <img 
            srcset= "img/nav-right--2x.png 2x"
            src= "img/nav-right--2x.png" alt="nav right">
        </div>

        <div class="component__code">
                    <!-- Main Header -->
                    <div class="container">
                        <div class="nav-bar">
                            <!-- NAV -->
                            <nav class="right-nav">
                                <ul class="right-nav--list">
                                    <li class="right-nav__item small-link" >
                                        <a href="#!">Join / Sign in</a>
                                    </li>
                                    <li class="right-nav__item">
                                        <a href="#!"><i class="fas fa-search"></i></a>
                                    </li>
                                    <li class="right-nav__item">
                                        <a href="#!"><i class="far fa-comments"></i></a>
                                    </li>
                                    <li class="right-nav__item">
                                        <a href="#!"><i class="fas fa-shopping-cart"></i></a>
                                    </li>
                
                                </ul>
                            </nav>
                            <!-- END NAV -->
                        </div>
                    </div>
                    <!-- END Main Header -->
        </div>
    </article>
    
    <h2>Molecules</h2>

    <h2>Organisms</h2>

    <h2>Page Footer</h2>


</body>
</html>