<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Topo Designs</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/93e278cd22.js" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Web Components</h1> 

    <h2>Typography Defaults</h2>

    <article class="component">
        
        <h3 class="component__name">Body</h3>
       
        <div class="component__img">
            <img 
            srcset= "img/body-text__ex2--2x.png 2x"
            src= "img/body-text__ex2--2x.png" alt="body text">
        </div>

        <div class="component__code">
            <p>
                I love bikes. Biking gives me time to think. I race cyclocross in the fall with the <a href="#!">Topo Designs Cycling Club</a>. I'm enjoying more gravel rides lately, and live across the street from some of the best mountain biking around, right here in Fort Collins, Colorado. I'm currently listening to the brand new Waxahatchee album, but really prefer spinning vinyl with my wife & two girls in the evenings, it's so intentional. We'll play a healthy mix ranging from Michael Jackson, Harry Styles & Stan Getz to Brandi Carlile, Gregory Alan Isakov & Wilco.
            </p>
        </div>
    </article>

    <article class="component">
        
        <h3 class="component__name">Headings (h1, h2, h3, h4, h5)</h3>
       
        <div class="component__img">
            <img 
            srcset= "img/h1--2x.png 2x"
            src= "img/h1--2x.png" alt="h1">
            <img 
            srcset= "img/h2--2x.png 2x"
            src= "img/h2--2x.png" alt="h2">
            <img 
            srcset= "img/h3--2x.png 2x"
            src= "img/h3--2x.png" alt="h3">
            <img 
            srcset= "img/h4--2x.png 2x"
            src= "img/h4--2x.png" alt="h4">
            <img 
            srcset= "img/h5--2x.png 2x"
            src= "img/h5--2x.png" alt="h5">
        </div>

        <div class="component__code">
            <h1>Sign up & Save</h1>
            <h2>Our Repairs Program</h2>
            <h3>Questions?</h3>
            <h4>Start a Warranty Claim</h4>
            <h5>Our Bags</h5>


        </div>
    </article>
</body>
</html>