<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Topo Designs</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/93e278cd22.js" crossorigin="anonymous"></script>

</head>
<body>
    <h1 class="page-header">Web Components</h1> 

    <h2 class="component-section__header">Typography Defaults</h2>

    <article class="component">
        
        <h3 class="component__name">Body</h3>
       
        <div class="component__img">
            <img 
            srcset= "img/body-text__ex2--2x.png 2x"
            src= "img/body-text__ex2--2x.png" alt="body text">
        </div>

        <div class="component__code">
            <p>
                I love bikes. Biking gives me time to think. I race cyclocross in the fall with the <a href="#!" class="link__active">Topo Designs Cycling Club</a>. I'm enjoying more gravel rides lately, and live across the street from some of the best mountain biking around, right here in Fort Collins, Colorado. I'm currently listening to the brand new Waxahatchee album, but really prefer spinning vinyl with my wife & two girls in the evenings, it's so intentional. We'll play a healthy mix ranging from Michael Jackson, Harry Styles & Stan Getz to Brandi Carlile, Gregory Alan Isakov & Wilco.
            </p>
        </div>
    </article>

    <article class="component">
        
        <h3 class="component__name">Headings (h1, h2, h3, h4, h5, h6)</h3>
       
        <div class="component__img">
            <img 
            srcset= "img/h1--2x.png 2x"
            src= "img/h1--2x.png" alt="h1">
            <img 
            srcset= "img/h2--2x.png 2x"
            src= "img/h2--2x.png" alt="h2">
            <img 
            srcset= "img/h3--2x.png 2x"
            src= "img/h3--2x.png" alt="h3">
            <img 
            srcset= "img/h4--2x.png 2x"
            src= "img/h4--2x.png" alt="h4">
            <img 
            srcset= "img/h5--2x.png 2x"
            src= "img/h5--2x.png" alt="h5">
            <img 
            srcset= "img/h6--2x.png 2x"
            src= "img/h6--2x.png" alt="h6">
        </div>

        <div class="component__code">
            <h1>Sign up & Save</h1>
            <h2>Our Repairs Program</h2>
            <h3>Questions?</h3>
            <h4>Start a Warranty Claim</h4>
            <h5>Our Bags</h5>
            <h6>Shop</h6>
        </div>
    </article>

    <article class="component">
        
        <h3 class="component__name">Global Inline Links</h3>
       
        <div class="component__img">
            <img 
            srcset= "img/link--inline__active--2x.png 2x"
            src= "img/link--inline__active--2x.png" alt="inline link active">
            <img 
            srcset= "img/link--inline__hov--2x.png 2x"
            src= "img/link--inline__hov--2x.png" alt="inline link hover">
        </div>

        <div class="component__code">
            <p>
                <a href="#!" class="link__active">Topo Designs Cycling Club</a>
            </p>
        </div>

        <h3 class="component__name">Breadcrumb Links</h3>

        <div class="component__img">
            <img 
            srcset= "img/link-map--2x.png 2x"
            src= "img/link-map--2x.png" alt="bread-crumb link">
        </div>
        <div class="component__code">
            <p class="bread-crumb bread-crumb__inactive">
                <a href="#!" class="bread-crumb__active">Home / </a>All Bags & Accessories
            </p>
        </div>
        
        <h3 class="component__name">Footer Links</h3>

        <div class="component__img">
            <img 
            srcset= "img/footer--link__active--2x.png 2x"
            src= "img/footer--link__active--2x.png" alt="footer link active">
            <img 
            srcset= "img/footer--link__hov--2x.png 2x"
            src= "img/footer--link__hov--2x.png" alt="footer link hover">
        </div>
        <div class="component__code">
            <p class="footer--link__hov">
                <a href="#!" class="footer--link__active">In The Wild Blog</a>
            </p>
        </div>
    </article>
    
    <h2 class="component-section__header">Atoms</h2>

    <article class="component">
        
        <h3 class="component__name">Buttons</h3>
       
        <div class="component__img">
            <img 
            srcset= "img/button__primary--2x.png 2x"
            src= "img/button__primary--2x.png" alt="button primary">
            <img 
            srcset= "img/button__secondary--2x.png 2x"
            src= "img/button__secondary--2x.png" alt="button outline">
            <img 
            srcset= "img/button__black--2x.png 2x"
            src= "img/button__black--2x.png" alt="button black">
            
        </div>

        <div class="component__code">
            <p class="btn-link btn--primary__hov">
                <a href="#!" class="btn btn--primary">Shop Gaitors</a>
            </p>
            <p class="btn-link btn--outlined__hov">
                <a href="#!" class="btn btn--outlined">Topo DNA</a>
            </p>
            <p class="btn-link btn--black__hov">
                <a href="#!" class="btn btn--black">Sign Up</a>
            </p>
        </div>
    </article>

    

    <h2 class="component-section__header">Molecules</h2>

    <article class="component">
        <h3 class="component__name">Logo & Main Nav</h3>
        
        <div class="component__img">
            <img 
            srcset= "img/logo-nav-main--2x.png 2x"
            src= "img/logo-nav-main--2x.png" alt="header">
        </div>

        <div class="component__code">
                    <!-- Main Header -->
                    <div class="container">
                        <div class="nav-bar">
                            <!-- NAV -->
                            <nav class="main-nav">
                                <div class="site-logo">
                                <a href="#!"><img src="../img/topo_designs_logo_vertical-logo.svg" alt="logo"></a>
                                </div>
                                <ul class="main-nav--list">
                                    <li class="main-nav__item">
                                        <a href="#!">Gift Guides <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">New <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">Packs & Bags <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">Men's <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">Women's <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">Accessories <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                    <li class="main-nav__item">
                                        <a href="#!">About <i class="fas fa-chevron-down"></i></a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- END NAV -->
                        </div>
                    </div>
                    <!-- END Main Header -->
        </div>
    </article>
    
    <article class="component">
        <h3 class="component__name">Right Nav</h3>
        
        <div class="component__img">
            <img 
            srcset= "img/nav-right--2x.png 2x"
            src= "img/nav-right--2x.png" alt="nav right">
        </div>

        <div class="component__code">
                    <!-- Main Header -->
                    <div class="container">
                        <div class="nav-bar">
                            <!-- NAV -->
                            <nav class="right-nav">
                                <ul class="right-nav--list">
                                    <li class="right-nav__item small-link" >
                                        <a href="#!">Join / Sign in</a>
                                    </li>
                                    <li class="right-nav__item">
                                        <a href="#!"><i class="fas fa-search"></i></a>
                                    </li>
                                    <li class="right-nav__item">
                                        <a href="#!"><i class="far fa-comments"></i></a>
                                    </li>
                                    <li class="right-nav__item">
                                        <a href="#!"><i class="fas fa-shopping-cart"></i></a>
                                    </li>
                
                                </ul>
                            </nav>
                            <!-- END NAV -->
                        </div>
                    </div>
                    <!-- END Main Header -->
        </div>
    </article>

    <article class="component">
        
        <h3 class="component__name">Card Title Area with Button</h3>
       
        

        <div class="component__img">
            <img 
            srcset= "img/section--hero__text--2x.png 2x"
            src= "img/section--hero__text--2x.png" alt="Hero text">
        </div>
        <div class="component__code">
            <div class=" card card-text__left">
                <h3 class="card-header--hero">Stocking Stuffers</h3>
                <h4 class="card-subtext">Last minute items to top off the stockings.</h4>
                <p class="btn-link btn--primary__hov">
                    <a href="#!" class="btn btn--primary">Shop Now</a>
                </p>
            </div>
        </div>

        <div class="component__img">
            <img 
            srcset= "img/card--medium__text--2x.png 2x"
            src= "img/card--medium__text--2x.png" alt="card medium text">
        </div>

        <div class="component__code">
            <div class=" card card-text__right">
                <h3 class="card-header--medium">Quick Drop:</h3>
                <h4 class="card-subtext">3 Day Desert Camo Collection</h4>
                <p class="btn-link btn--primary__hov">
                    <a href="#!" class="btn btn--primary">Shop Collection</a>
                </p>
            </div>
        
        </div>

        <div class="component__img">
            <img 
            srcset= "img/card--small__text--2x.png 2x"
            src= "img/card--small__text--2x.png" alt="card small text">
        </div>

        <div class="component__code">
            <div class="card card-text__center">
                <h3 class="card-header--small">Give $15, Get $15</h3>
                <h4 class="card-subtext">Give friends $15 off on their first order of $50+ and get $15 for each successful referral.</h4>
                <p class="btn-link btn--primary__hov">
                    <a href="#!" class="btn btn--primary">Refer a Friend</a>
                </p>
            </div>
        
        </div>
    </article>

    <article class="component">
        
        <h3 class="component__name">Email Form</h3>
       
        <div class="component__img">
            
            <img 
            srcset= "img/form__email--2x.png 2x"
            src= "img/form__email--2x.png" alt="button black">
            
        </div>

        <div class="component__code">
            <form>
                <input type="text" name="search" placeholder="Email Address">
                <button class="btn--black__hov"><a href="#!" class="btn btn--black">Sign Up</a></button>
            </form>
        </div>
    </article>

    <article class="component">
        
        <h3 class="component__name">Footer Nav Column</h3>
       
        <div class="component__img">
            
            <img 
            srcset= "img/footer--nav-link-column.png x3"
            src= "img/footer--nav-link-column.png" alt="footer nav column">
            
        </div>

        <div class="component__code">
            <div class="footer">
                <div class="footer--nav">
                    <ul class="footer--nav__links"> 
                        <li>
                            <h6 class="footer--nav__header">Shop</h6>
                        </li>
                        <li class="footer--link__hov">
                            <a href="#!" class="footer--link__active">New</a>
                        </li>
                        <li class="footer--link__hov">
                            <a href="#!" class="footer--link__active">Packs & Bags</a>
                        </li>
                        <li class="footer--link__hov">
                            <a href="#!" class="footer--link__active">Men's Apparel</a>
                        </li>
                        <li class="footer--link__hov">
                            <a href="#!" class="footer--link__active">Women's Apparel</a>
                        </li>
                        <li class="footer--link__hov">
                            <a href="#!" class="footer--link__active">Accessories</a>
                        </li>
                        <li class="footer--link__hov">
                            <a href="#!" class="footer--link__active">Gift Cards</a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </article>
    

    <h2 class="component-section__header">Organisms</h2>

    <article class="component">
        
        <h3 class="component__name">Cards</h3>

        <div class="component__img">
            <img 
            srcset= "img/card--small--2x.png 2x"
            src= "img/card--small--2x.png" alt="card small">
        </div>

        <div class="component__code">
            <div class=" card--give-get card card-text__center img-tint">
                
                <h3 class="card-header--small">Give $15, Get $15</h3>
                <h4 class="card-subtext">Give friends $15 off on their first order of $50+ and get $15 for each successful referral.</h4>
                <p class="btn-link btn--primary__hov">
                    <a href="#!" class="btn btn--primary">Refer a Friend</a>
                </p>
                
            </div>
        
        </div>
    </article>

    <h2 class="component-section__header">Page Footer</h2>
    
    <article class="component">
        
        <h3 class="component__name">Subscription Form</h3>
       
        <div class="component__img">
            
            <img 
            srcset= "img/subscription-sign-up--2x.png"
            src= "img/subscription-sign-up--2x.png" alt="subscription sign-up">
            
        </div>

        <div class="component__code">
            <div class="email-subscription">
                <div class="subscription--text">
                    <h1 class="subscription--text__header">SIGN UP & SAVE</h1>
                    <p class="subscription--text__subtext"> Sign up and stay up to date on all the latest news from Topo Designs and best of all, you'll get 10% off!</p>
                </div>
                <div class="subscription--sign-up">
                    <form>
                        <input type="text" name="Email" placeholder="Email Address">
                        <button class="btn--black__hov">
                            <a href="#!" class="btn btn--black">Sign Up</a>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </article>
    
    <article class="component">
        
        <h3 class="component__name">Footer</h3>
       
        <div class="component__img">
            
            <img 
            srcset= "img/footer--3x.png 2x"
            src= "img/footer--3x.png" alt="footer">
            
        </div>

        <div class="component__code">
            <div class="footer-container">
                <div class="footer">
                        <div class="footer--nav">
                            <ul class="footer--nav__links"> 
                                <li class="footer--item" >
                                    <h6 class="footer--nav__header">Shop</h6>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">New</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Packs & Bags</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Men's Apparel</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Women's Apparel</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Accessories</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Gift Cards</a>
                                </li>
                            </ul>
                            <ul class="footer--nav__links"> 
                                <li>
                                    <h6 class="footer--nav__header">On the Map</h6>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Our Roots</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">In The Wild Blog</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Events</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Special Releases</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Manufacturing</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">M.A.P Pact</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Warrenty & Repairs</a>
                                </li>
                            </ul>
                            <ul class="footer--nav__links"> 
                                <li class="footer--item">
                                    <h6 class="footer--nav__header">Company</h6>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Our Stores</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Careers</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Inclusion & Diversity</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Corporate Sales</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Affiliates</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Students</a>
                                </li>
                            </ul>
                            <ul class="footer--nav__links"> 
                                <li class="footer--item">
                                    <h6 class="footer--nav__header">Help</h6>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Returns & Shipping</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">FAQ</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Earn Rewards</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Find a Retailer</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Privacy Policy</a>
                                </li>
                                <li class="footer--item footer--link__hov">
                                    <a href="#!" class="footer--link__active">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer--social">
                            <ul class="social--nav">
                                <li class="social--nav__item">
                                    <a href="#!" class="social-link"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="social--nav__item">
                                    <a href="#!" class="social-link"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="social--nav__item">
                                    <a href="#!" class="social-link"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="social--nav__item">
                                    <a href="#!" class="social-link"><i class="fab fa-pinterest"></i></a>
                                </li>
                            </ul>
                            <div class="copyright-block">
                                <p class="copyright"> 
                                    <i class="far fa-copyright"></i> 2020 Topo Designs
                                </p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </article>


</body>
</html>